
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1huccoaozd50zfr.eot?t=1483337693502'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1huccoaozd50zfr.eot?t=1483337693502#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1huccoaozd50zfr.woff?t=1483337693502') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_1huccoaozd50zfr.ttf?t=1483337693502') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1huccoaozd50zfr.svg?t=1483337693502#iconfont') format('svg'); /* iOS 4.1- */
}

[class*="icon-"],[class^="icon-"]{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-matuwang-zhihufangxingdianji:before { 
  content: "\e608";  
  color: #0267C8;
}

